<div class="header">
    <div class="header-body">
        <div style="display: flex">
            <img class="logo" src="assets/images/logo.svg">
            <div class="title">Peter Iskandar</div>
        </div>

        <a href="https://www.linkedin.com/in/peter-iskandar-6a575924/" target="_blank"
           style="display: flex;align-items: center; text-decoration: none; margin-top: 8px">
            <i class="fab fa-linkedin social"></i>
        </a>

    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
